@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Guides:wght@400..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 374px;
    margin: 0 auto;
    margin-top: 50px;
    background-color: #080808;
}
.container__one {
    height: 20%;
}
.container__two {
    height: 80%;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: white;
    font-family: 'Edu AU VIC WA NT Guides', cursive;
}
button {
    margin-top: 20px;
    width: 100%;
    padding: 15px 10px;
    background-color: #f1356d;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10px 10px 0 0;
    font-weight: bold;
}

img {
    width: 374px;
    height: 100%;
    object-fit: cover;
    border-radius: 0 0 10px 10px;
}
